<!DOCTYPE html>
<html>
    <head>
            <link rel="stylesheet" href='/css/style.css'>
            <script src='/js/test.js'></script>
    </head>       
        <title>{{title}}</title>
        <body>
            {{>header }}
            <h1>{{name}} </h1>
            <img src='/images/profile.jpg' />
            {{> footer}}
        </body>
    </head>
</html>