<!DOCTYPE html>
<html>
    <head>
            <link rel="stylesheet" href='/css/style.css'>
            <script src='/js/test.js'></script>
    </head>       
        <title>{{title}}</title>
        <body>
            {{>header}}
            <h1>{{name}} </h1>
            <p class='message'>{{message}}</p>
        </body>
    </head>
</html>