<!DOCTYPE html>
<html>
    <head>
            <link rel="stylesheet" href='/css/style.css'>
            <script src='/js/test.js'></script>
    </head>       
        <title>{{title}}</title>
        <body>
            <h1>{{name}} </h1>
        </body>
    </head>
</html>